.choice {
    margin-top: 10px
}

.back_button {
    width: 4rem;
}

.next_button {
    width: 4rem;
}

.question_1 {
    margin-top: 10px;
}

.question_2 {
    margin-top: 54px;
}

.comment {
    margin-top: 80px
}